.container {
  width: 100vw;
  height: 80vh;
  border: 2px solid purple;
}
.box {
  width: 55px;
  height: 55px;
  border: 2px solid red;
  /* transform: rotateX(40deg); */
  /* transform: scale3d(40deg); */
  display: flex;
  justify-content: center;
  align-items: center;
}

